# 忽略目录
build/
dist/
examples/
packages/
public/
src/
test/
docs/


# 忽略指定文件 
.eslintignore
.prettierignore        
.browserslistrc
.eslintrc.js
.prettierrc.js 
babel.config.json 
.env
.env.*
*.js 

*.map

